Section3

1. Stings

Are used to represent text, they must be surounded by single quote'' or double qoutes""

In [2]:
x='YousefMohammadSalam'
print(x)

YousefMohammadSalam

In [3]:
x[1]

'o'

In [4]:
"You" in x

True

In [5]:
#slicing 
x[0:3]

'You'

In [6]:
#lower, Upper, capitalize
f="fAtmA"
print(f.lower())
print(f.upper())
print(f.capitalize())

fatma
FATMA
Fatma

In [8]:
today="friday"
print(today)

friday

In [9]:
today="Saturday"
print(today)

Saturday

In [12]:
today="Sunday"
today.replace("Sun","Fri")
print(today)

Sunday

In [13]:
Name='Ali'       #decliration of the string

In [14]:
Name == "Ali"   # Compare two strings

True

In [15]:
Name != "Alaa"    #not equal

True

2.Lists

Is an order collection of values. Lists can hold values of all data types. Support operations to add ,remove ,change values

In [16]:
A406=["python", 5, 2.5, True , 3>=5, 'Aya' ]

In [17]:
A406[-1]

'Aya'

In [18]:
A405=["Aya","Nada", "Yahia",["Y. Salah", "Y. Mohammad"] ,"MG" ]
A405[2:4]

['Yahia', ['Y. Salah', 'Y. Mohammad']]

In [19]:
#Modifing functions
A405[4]="Mahmoud Gamal"                   # modify certen element
print(A405)

['Aya', 'Nada', 'Yahia', ['Y. Salah', 'Y. Mohammad'], 'Mahmoud Gamal']

In [20]:
A405.append(["Abanob","Omar"])         # Add element or list
print(A405)

['Aya', 'Nada', 'Yahia', ['Y. Salah', 'Y. Mohammad'], 'Mahmoud Gamal', ['Abanob', 'Omar']]

In [21]:
A405.insert(3,"Dr. Fatma")               #insert element

In [22]:
A405.remove("Dr. Fatma")                #remove element(starts from index0) remove the first element with the given value(sting, int,float)
print(A405)

['Aya', 'Nada', 'Yahia', ['Y. Salah', 'Y. Mohammad'], 'Mahmoud Gamal', ['Abanob', 'Omar']]

In [23]:
A405.pop(1)                            # remove the element of the given index without checking its value
print(A405)

['Aya', 'Yahia', ['Y. Salah', 'Y. Mohammad'], 'Mahmoud Gamal', ['Abanob', 'Omar']]

In [24]:
"Ayaa" in A405

False

In [25]:
Advisors=['Prof. Alaa', "Prof. Saleh" ]

In [26]:
A405final= A405+Advisors
print(A405final)

['Aya', 'Yahia', ['Y. Salah', 'Y. Mohammad'], 'Mahmoud Gamal', ['Abanob', 'Omar'], 'Prof. Alaa', 'Prof. Saleh']

Tuple: (Solid list)

Is an ordered colliction of Data takes any typr of data As list, However, It is not possible to Add, Remove, Modify values

3.Dictionary

Is an unordered collection of items. 
Each item stored in a dictionary has a key & value.
Key are used to retrieve values from the dictionary. 
Has type Dict.

In [27]:
student2={'name':"Nada", "gender":"female", "age":20, "Department": "Astro/Phy"}
student3={'name':"Aya", "gender":"female", "age":20, "Department": "Astro/Phy"}
student4={'name':"Yousef", "gender":"male", "age":20, "Department": "Astro/Phy"}
print(student2)

{'name': 'Nada', 'gender': 'female', 'age': 20, 'Department': 'Astro/Phy'}

In [28]:
student22=["Nada", "female", "20", "Astro/Phy"]
print(student22)

['Nada', 'female', '20', 'Astro/Phy']

In [29]:
student2["graduation"]=2022
print(student2)

{'name': 'Nada', 'gender': 'female', 'age': 20, 'Department': 'Astro/Phy', 'graduation': 2022}

In [30]:
student2.get("graduation")

2022

In [31]:
"graduations" in student2

False

In [32]:
Now= student2.get("graduation")- student2.get("age")
print(Now)

2002

In [33]:
student2["birthyear"]=Now
print(student2)

{'name': 'Nada', 'gender': 'female', 'age': 20, 'Department': 'Astro/Phy', 'graduation': 2022, 'birthyear': 2002}

In [36]:
students=[student2,student3,student4]
print(sudents)

[{'name': 'Nada', 'gender': 'female', 'age': 20, 'Department': 'Astro/Phy', 'graduation': 2022, 'birthyear': 2002}, {'name': 'Aya', 'gender': 'female', 'age': 20, 'Department': 'Astro/Phy'}, {'name': 'Yousef', 'gender': 'male', 'age': 20, 'Department': 'Astro/Phy'}]

In [42]:
students[1].get("name")

'Aya'